@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-white-100 font-karla pb-14 md:pb-0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply py-3;
  }
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3,
  h4,
  h5,
  h6 {
    @apply text-xl;
  }
  p {
    @apply mb-2;
  }
}

@layer utilities {
  .cart .big-text {
    @apply text-xl xs:text-2xl sm:text-3xl md:text-xl;
  }
  .navi-icon {
    @apply mx-auto w-5 h-5;
  }
  @variants responsive {
    .hyphens {
      hyphens: auto;
    }
    .blur {
      backdrop-filter: blur(4px);
    }
  }
}

div[role="button"] {
  outline: 0;
}

.text-shadow {
  text-shadow: 4px 4px 10px #000000a3;
}

.cart {
  @apply bg-green-lightTrans p-5 rounded-md shadow-xl mb-8 text-gray-100;
}

.hl {
  @apply text-green-100;
}
