@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-white-100 font-karla pb-14 md:pb-0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply py-3;
  }
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3,
  h4,
  h5,
  h6 {
    @apply text-xl;
  }
  p {
    @apply mb-2;
  }
}

@layer utilities {
  .cart .big-text {
    @apply text-xl xs:text-2xl sm:text-3xl md:text-xl;
  }
  .navi-icon {
    @apply mx-auto w-5 h-5;
  }
  li {
    @apply mb-2;
  }
  .cart--leistungen .leistungen {
    @apply md:absolute md:bottom-0 bg-black-trans w-full p-4 blur;
  }
  .preis-wrapper li {
    @apply flex items-center mr-4;
  }
  .preis-wrapper .icon {
    @apply mr-2 text-purple-light w-4 h-4;
  }
  input,
  textarea {
    @apply bg-transparent border border-gray-light;
  }
  @variants responsive {
    .hyphens {
      hyphens: auto;
    }
    .blur {
      backdrop-filter: blur(4px);
    }
  }
}

div[role="button"] {
  outline: 0;
}

.text-shadow {
  text-shadow: 4px 4px 10px #000000a3;
}

.cart {
  @apply bg-green-lightTrans p-5 rounded-md shadow-xl mb-8 text-gray-100;
}

.hl {
  @apply text-green-100;
}

@media (min-width: 768px) {
  .main {
    min-height: calc(100vh - 60px);
  }
  .cart--leistungen .leistungen {
    width: calc(100% - 0.5rem);
    bottom: 7px;
    backdrop-filter: none;
  }
}

@media (max-width: 639px) {
  .bg:after,
  .bg:before {
    background-position: -530px 0 !important;
  }
}

.slick-slider button.slick-next {
  right: -17px;
}
.slick-slider button.slick-prev {
  left: -17px;
}

.ueber-uns-cart {
  transform: translateX(-10px) translateY(-120px);
  width: calc(100% + 20px);
}
